   <!-- About Section
   ================================================== -->
   <section id="about">
      <div class="row">
         <div class="three columns">
            <img class="profile-pic"  src="images/me.jpeg" alt=""/>
         </div>
         <div class="nine columns main-col">
            <h2>ABOUT ME</h2>
            <p> Hi, I'm Robson Silva.<span>I'm a Solution Architect</span>
               and I've focused on making your business solution and bringing more business values aligned with the best technological strategy. I have experience in Solution Architecture and can help clients with related technology issues—a dynamic and goal-oriented young technical guy with experience in creating customer solutions. Also, I am confident and poised in interactions with individuals at all levels. Focused and dedicated; I have a good eye for details and put in my best effort in time management and prioritization.
            </br>
            </br>
            <div class="row s-about__content-bottom">
               <div class="column w-1000-stack">
                  <h2>Contact Details</h2>

                  <p>
                  Robson Silva <br>
                  Melbourne, VIC - Australia<br>
                  <a href="tel:+61435115165">+61 435 115 165</a> <br>
                  <a href="mailto:#0">binhosemcrause@gmail.com</a>
                  </p>
                  
               </div>
               <div class="column w-1000-stack">
                  <button type="submit" onclick="window.open('assets/RobsonSilva.pdf')"class="btn btn-white text-uppercase mr-3">Download CV</button>
                     </a>
               </div>
            </div>
            </br>
               I built this page as part of the <span><a href="https://cloudresumechallenge.dev/docs/the-challenge/aws/">The Cloud Resume Challenge.</a></span>
            </br>


         </div> <!-- end .main-col -->

      </div>

   </section> <!-- About Section End-->


