<!-- footer -->
<footer>
   <div class="row">
      <div class="twelve columns">
         <ul class="social-links">
            <li><a href="https://twitter.com/binhosemcrause"><i class="fa fa-twitter"></i></a></li>
            <li><a href="https://www.linkedin.com/in/binhosemcrause"><i class="fa fa-linkedin"></i></a></li>
            <li><a href="https://instagram.com/binhosemcrause"><i class="fa fa-instagram"></i></a></li>
            <li><a href="https://www.youtube.com/channel/UCMEWr-qEKnq7JPV-s0dPtIQ"><i class="fa fa-youtube"></i></a></li>
            <li><a href="https://github.com/binhosemcrause/aws-resume"><i class="fa fa-github"></i></a></li>
         </ul>
         <ul class="copyright">
            <a href="https://www.styleshout.com/free-templates/ceevee/"> Template by CeeVee </a>
         </ul>
      </div>
      <div id="go-top"><a class="smoothscroll" title="Back to Top" href="#home"><i class="icon-up-open"></i></a></div>
   </div>
</footer>