   <!-- Header -->
   <header id="home">
      <nav id="nav-wrap">
         <a class="mobile-btn" href="#nav-wrap" title="Show navigation">Show navigation</a>
	      <a class="mobile-btn" href="#" title="Hide navigation">Hide navigation</a>
         <ul id="nav" class="nav">
            <li class="current"><a class="smoothscroll" href="#home">Home</a></li>
            <li><a class="smoothscroll" href="#about">About</a></li>
	         <li><a class="smoothscroll" href="#resume">Resume</a></li>
            <li><a class="smoothscroll" href="#portfolio">Projects</a></li>
            <li><a class="smoothscroll" href="#blog">Blog</a></li>
         </ul>
      </nav> 

      <div class="row banner">
         <div class="banner-text">
            <h1 class="responsive-headline">Hi, I'm Robson</h1>
            <p>and this page has been viewed <a id="counter"></a> times :) </p> 
            <ul class="social">
               <li><a href="https://twitter.com/binhosemcrause"><i class="fa fa-twitter"></i></a></li>
               <li><a href="https://www.linkedin.com/in/binhosemcrause"><i class="fa fa-linkedin"></i></a></li>
               <li><a href="https://instagram.com/binhosemcrause"><i class="fa fa-instagram"></i></a></li>
               <li><a href="https://www.youtube.com/channel/UCMEWr-qEKnq7JPV-s0dPtIQ"><i class="fa fa-youtube"></i></a></li>
               <li><a href="https://github.com/binhosemcrause/aws-resume"><i class="fa fa-github"></i></a></li>
            </ul>
         </div>
      </div>

      <p class="scrolldown">
         <a class="smoothscroll" href="#about"><i class="icon-down-circle"></i></a>
      </p>
   </header>


